body{
  margin: 0;
  font-family: monospace;
  font-size: 20px;
  line-height: 30px;
}
header{
  background-color: red;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
h1, h2{
  font-family: 'Bangers', cursive;
}
p{
  font-family: monospace;
  font-size: 20px;
}
header h1{
  color: white;
  font-size: 60px;
}
h2{
  font-size: 30px;
}
header img{
  border-radius: 200px;
  width: 300px;
  border: 15px solid white;
}
main{
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
main img{
  max-width: 100%;
  margin: 0;
  display: block; 
}
a{
  color: red;
}
a:hover{
  background-color: red;
  color: black;
}
footer{
  background-color: red;
  text-align: center;
  color: white;
  padding: 20px;
}
footer p{
  margin: 0;
}
footer a{
  color: white;
}
footer a:hover{
  background-color: black;
  color: red;
}
p.caption{
  color: #999999;
  font-style: italic;
  margin-top: 0;
}
